:root {
  --img-scale: 25%
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  font-family: "Fira Code", monospace;
  font-size: 2vw;
  color: #000000;
  display: block;
  margin: auto;
  padding: 5%;
}

html {  
  flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

div#collection {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.1rem;
  row-gap: 0.1rem;
  margin: 20px;
}

div#collection > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: var(--img-scale);
  text-align: center;
  margin-bottom: -0.25rem;
}

#selectors {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.1rem;
  row-gap: 0.1rem;
  margin: 20px;
  justify-content: center;
}


#selectors > * {
  /* display: flex; */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 30%;
  text-align: left;
  border: 3px solid;
  font-size: 0.8rem;
}

.container {
  display: flex;
  flex-flow: column;
  flex-direction: row;
}

.featureContainer {
  margin: 0.2em;
  padding: 0.4em;
}

.featureStatistics {
  color: #c4c4c4;
  font-size: 0.6rem;
}

img {
    width: 100% ;
}

#selectors, #sizes {
  text-align: center;
}

select {
  padding: 10px;
  margin: 10px;
}

.featureTitle {
  /* margin-top: 1rem; */
  font-weight: 700;
}